@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
body {
  font-family: "Merriweather", serif;
}
/* Shared Styles */
* {
  margin: 0;
  padding: 0;
}
section {
  width: 1214px;
  margin: 0 auto;
  margin-top: 150px;
  margin-bottom: 150px;
}
.primary-color {
  color: #ff0000;
}

/*Banner styles Start */

.banner-container {
  width: 1214px;
  height: 552px;
  margin: 0 auto;
  margin-top: 50px;
  background-color: rgba(35, 34, 34, 0.5);
  background-image: url(../images/Banner\ Image.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
}
.banner-content {
  display: flex;
  flex-direction: column;
  height: 552px;
  justify-content: center;
  align-items: center;
}
.banner-title {
  font-size: 32px;
  color: white;
}
.banner-subtitle {
  font-size: 72px;
  color: white;
  margin-top: -20px;
  text-align: center;
}

/*Banner styles End */

/* Discount Section Start */

.discount-section {
  width: 802px;
  height: 806px;
  margin: 0 auto;
  margin-top: 120px;
}
.discount {
  text-align: center;
}
.discount-percentage {
  font-size: 88px;
  font-weight: 700;
  margin-bottom: 48px;
}
.discount-subtitle {
  font-size: 38px;
  font-weight: 700;
  margin-top: 16px;
  margin-bottom: 48px;
}
.discount-section img {
  width: 702px;
  height: 450px;
  margin-left: 50px;
}
/* Discount Section End */

/* Party section Start */
.party-section {
  width: 1214px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url(../images/Vectorrr.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
}
.party-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 39px;
}
.party-content {
  margin-left: 135px;
}
.party-title {
  font-size: 64px;
  font-weight: 900;
  color: white;
  margin-bottom: 26px;
}
.party-description {
  width: 697px;
  color: white;
  line-height: 30px;
  margin-bottom: 32px;
}
.party-btn {
  text-decoration: none;
  font-size: 20px;
  color: white;
  font-weight: 700;
}
.party-image {
  width: 319px;
  height: 464px;
  margin-right: 168px;
  margin-top: 68px;
  margin-bottom: 68px;
}
/* Party section style End */

/* Schedule section style start */

.schedule {
  padding-top: 100px;
  padding-bottom: 100px;
  background-image: linear-gradient(
    to top,
    rgba(255, 255, 255, 0),
    rgb(229, 219, 219)
  );
}

.schedule-content p {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
}
.schedule-content span {
  color: #ff0000;
}
.schedule-btn-container {
  text-align: center;
  margin-top: 48px;
}
.schedule-btn {
  background: #ff0000;
  padding: 16px 32px;
  color: white;
  border: none;
  border-radius: 5px;
}
/* Holiday section style start */

.holiday-content {
  text-align: center;
}
.holiday-title {
  font-size: 24px;
  margin-bottom: 16px;
}
.holiday-subtitle {
  font-size: 72px;
  margin-bottom: 28px;
}
.holiday-subtitle span {
  color: #ff0000;
}
.holiday-image {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.gift-image img {
  width: 500px;
  position: absolute;
  margin-top: 73px;
}
.solid-color {
  background-color: #ff0000;
  border-radius: 10px;
  width: 1214px;
  height: 210px;
}
.holiday-description {
  margin: 0 126px;
  color: rgba(7, 2, 17, 0.6);
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
}

/* Portfolio section styles */
.portfolio-title {
  color: #ff0000;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 16px;
}
.portfolio-subtitle {
  color: rgb(7, 2, 17);
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 22px;
}
.portfolio-description {
  color: rgba(7, 2, 17, 0.6);
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 48px;
  margin-right: 380px;
}
.portfolio-images {
  gap: 15px 15px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.images-items img {
  width: 400px;
  height: 350px;
}
